<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="icon" href = "https://w.namu.la/s/8cd9553c35562de9ac5685fcc868421f659ec3357582faa2db3031809fc7df6701644c2ac01876532df14659dcfb6f65b9d0b2a627bba35fe103503d7d0a9db2e8a72ea03cc930eaf675629364836cb00f2e26c2a834c1ec79f17fdfc820aae0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <style> @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");</style>
    <script>

$(document).ready(function(){


$("button#searchButton").click(function(){
  var name = $("input").val();
  const checkbox = document.getElementById('tft_check');
  const is_checked = checkbox.checked;
  if(is_checked==1){
    location.href = "http://localhost:3000/search/" + name;
  } else {
    location.href = "http://localhost:3000/lol/search/" + name;
  }
})
});
    $(document).ready(function(){
      $("button#deckButton").click(function(){
        var name = $("input").val();
        location.href = "http://localhost:3000/tft/deck";
      })
});
    </script>
  </head>
  <body>
    <div class="imgOpacity">
    <div class="center">
      <img src= "https://w.namu.la/s/8cd9553c35562de9ac5685fcc868421f659ec3357582faa2db3031809fc7df6701644c2ac01876532df14659dcfb6f65b9d0b2a627bba35fe103503d7d0a9db2e8a72ea03cc930eaf675629364836cb00f2e26c2a834c1ec79f17fdfc820aae0" width = 600, height = 600/>
    </div>
    <div class="center2">

      <div>
        <input type="text" class="input_text" placeholder="소환사 이름">
        <input type="checkbox" id="tft_check" name="tft_check" checked>
        <label for="tft_check">TFT</label>
      </div>
    <span class="input-group-btn">
      <button id="searchButton" class="btn btn-primary" type="button" onclick="search(name)">click!</button>
      
      <br><button id="deckButton" class="btn btn-primary" type="button" onclick="search(name)">Deck List</button></br>
    </span>
   </div>
  </div>
</body>
</html>
